body{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
text-align: center;

}
li{
text-align:center;
text-align: center;
}
a{
color: black;
text-align: center;

}
h2{
color: red;
}
p{
    color: red;
    }
